<div class="main-container">ADMIN
    <div class="mx-auto" style="width:600px;">
        <div class="card mb-3">
        <div class="card-body text-center">
        <% if logged_in? %>
            <%= gravatar_for current_user %>

            <h1><%= current_user.name %></h1>
            <%= current_user.email %>

            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <h4>Following</h4>
                    <span><%= current_user.following.count %></span>
                </div>
                <div class="col-lg-6">
                    <h4>Followers</h4>
                    <span><%= current_user.followers.count %></span>
                </div>
            </div>
        <% else %>
            <div class="bg-warning" id="static">
                <div class="header text-center w-50 p-3">
                    <h1 class="display-4">E-Learning System</h1>
                    <br />
                    <br />
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn</a>
                </div> 
            </div>
        <% end %>
        </div>
        </div>
    </div>
  </div>
