<!--<div class="row">
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body text-center">
        <% if current_user.image? %>
          <%= image_tag current_user.image.url, class: 'mw-100' %>
        <% else %>
          <%= gravatar_for current_user %>
        <% end %> 

        <h1>OPA<%= @user.name %></h1>
        <%= @user.email %>
        <hr/>
        <%= render 'follow_form' %>
        <hr />
        <div class="row">
          <div class="col-lg-6">
            <h4>Following</h4>
            <span><%= link_to @user.following.count, following_user_path(@user) %></span>
          </div>
          <div class="col-lg-6">
            <h4>Followers</h4>
            <span><%= link_to @user.followers.count, followers_user_path(@user) %></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <%= @title %>
      </div>
      <div class="card-body">
        <% @users.each do |user| %>
          <div class="media mt-2">
            <% if user.image? %>
              <%= image_tag user.image.url, size: 60 %>
            <% else %>
              <%= gravatar_for user, size: 60 %>
            <% end %> 
            <div class="media-body ml-2">
              <%= user.name %>
            </div>
          </div>
          <hr />
        <% end %>
      </div>
      
      <div class="text-center">
        <%= will_paginate %>
    </div>
    </div>
  </div>
</div> -->