<div class="main-container">
    <div class="mx-auto" style="width:500px;">
        <div class="card mb-3">
            <div class="card-body text-center">
                <% if @user.image? %>
                    <%= image_tag @user.image.url, class: 'mw-100' %>
                <% else %>
                    <%= gravatar_for @user %>
                <% end %> 

                <h1><%= @user.name %></h1>
                <%= @user.email %>
                <hr />
                <%= render 'follow_form' %>

                <hr />
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Following5</h4>
                        <span><%= link_to @user.following.count, following_user_path(@user) %></span>
                    </div>
                    <div class="col-lg-6">
                        <h4>Followers</h4>
                        <span><%= link_to @user.followers.count, followers_user_path(@user) %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-lg-9">
    <div class="card">
        <div class="card-body">
            <% if @activities.any? %>
                <% @activities.each do |activity|%>
                    <% if activity.action_type == "Lesson" %>
                        <div class="container mt-2">
                            <div class="media">
                                <div class="media-body align-self-center">
                                    <%= link_to_if @user == current_user,"You", user_path(@user) do 
                                                            link_to @user.name, user_path(@user) end %> learned 
                                    <%= activity.action.lesson_results %> of 
                                    <%= activity.action.words.size %> in 
                                    <%= link_to activity.action.category.title, lesson_path(activity.action.id) %>
                                    <div>
                                        <small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% elsif activity.action_type == "Relationship" %>
                        <div class="container mt-2">
                            <div class="media">
                                <div class="media-body align-self-center">
                                    <%= link_to activity.action.follower.name, user_path(@user) %>
                                        followed <%= link_to activity.action.followed.name, user_path(relationship(activity.action.followed_id).id) %>
                                    <div>
                                        <small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>	
                <% end %>
            <% else %>
                <h4 class="text-center text-muted"> Nothing to show</h4>
            <% end %>
        </div>
    </div>
</div>