<nav class="navbar navbar-expand-lg bg-warning navbar-light">
  <a class="navbar-brand" href="#"><%= fa_icon "dragon" %>  E-Learning  <%= fa_icon "dragon" %></a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <%= link_to "Home", root_path,class:"nav-item nav-link" %>
      <%= link_to "About", about_path,class:"nav-item nav-link" %>
      <%= link_to "SingUp", signup_path,class:"nav-item nav-link" %>
      <a class="nav-item nav-link" href="#" tabindex="-1" aria-disabled="true">Login</a>
    </div>
  </div>
</nav>